body{
    margin: 0;
    background-color: #393e46;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

h1
{
    color: #e84545;
    margin-top: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    line-height: 2;
}

h2
{
    color: #e84545;
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3
{
    color: #ffc93c;
    font-family: sans-serif;
}

hr
{  
    border: dotted #eeeeee 10px;
    border-bottom: none; 
    width: 10%;
    margin: 50px auto;
}

.top-container{
    background-color: #222831;
    position: relative;
    padding-top: 100px;
    font-size: 100px;
}

.middle-container
{
    margin: 50px auto;
}

.intro
{
    margin: auto;
    width: 50%;
}

.skill-row1
{
    margin: 100px auto;
    width: 60%;
    text-align: left;

}

.skill-row2
{
    margin: 200px auto 150px;
    width: 60%;
    text-align: left;

}

.skill-img1
{
    width: 40%;
    float: left;
    margin-right: 30px;
}

a
{
    font-family: 'Montserrat', sans-serif;
    color: #00adb5;
}

p
{
    font-size: 1.1rem;
    line-height: 2;
}
.skill-img2
{
    width: 30%;
    float: right;
    margin-left: 30px;
}


.top-cloud
{
    margin-top: 50px;
    position: absolute;
    right: 300px;
    top: 20px;
}


.bottom-cloud
{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.mountain
{
    position: relative;
    top: 27px;
}

.btn
{
    font-size: 30px;
    padding: 10px;
    margin: 50px auto;
    text-decoration: none;
    /* background-image: linear-gradient(); */
    border-radius: 10px;
}

.btn:hover
{
    border-bottom: solid 5px #c71144;
}

.bottom-container
{
    background-color: #000000;
    padding: 100px 11px;
    margin-top: 50px;
}

.contMe
{
    height: auto;
}

.footer-link
{
    padding: 10px 20px;
    margin: 0px auto;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    border: solid 5px white;
}

.footer-link:hover
{
    transition: 1;
    background-color: white;
    color: #000000;
}

.copyright
{
    margin-top: 50px;
}

.contact-me
{
    padding-right: 10px;
    padding-left: 10px;
}